@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hero{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.indulgexpress.com/uploads/user/imagelibrary/2021/2/17/original/1mae-mu-I7A_pHLcQK8-unsplash_revised.jpg);
    color: white;
    z-index: 2;
}

#hero::after{
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    content: '';
    opacity: .70;
    z-index: -1;
}

#description{
    margin-top: 10px;
}

.ratings{
    padding-bottom: 10px;
}

#qf{
    [padding-top: 20px;]
}

#type-of-meal{
    padding-bottom: 10px;
}

input{
    margin-bottom: 10px;
}

#name-label{
    margin-top: 20px;
}

#submit{
    margin-top: 20px;
    width: 200px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

#logo{
    width: 50px;
    height: auto;
    margin-top: 40px;
}

#form{
    background-color: rgba(12, 56, 201, 0.39);
    padding: 20px;
    margin-top: 20px;
}